{{extend 'congo-layout.html'}}
	<div id='intro'>
		<h1> Videos</h1>
	</div>
	<div id='productList'>
        {{features=db(db.products.type == 'Blu-Ray').select()}}
		 {{for feature in features:}}
            <div class='product'>
                {{=H3(feature.name)}}
                <p> <b> Details</b></p>
                <div class='details'>
                    <ul>
                        <li> <b> Publisher</b> {{=feature.publisher}}</li>
                        <li> <b>Type:</b> {{=feature.type}}</li>
                        <li> <b> Price:</b> {{=feature.price}}</li>
                    </ul>
                </div>
                <div class='glance'>
                    <p>
                        <b>At a glance</b> <br/>
                        {{=feature.description}}
                    </p>
                </div>
                {{pass}}
            </div>
	</div>