<!--Exam Number: Y0071297 -->
{{extend "bootup-profile-layout.html"}}

<div class="row">
    <div class=" span11">
        <div class="well span11">
            <h3> Step One: Add Basic Information</h3>
            <p> Hover over the <i class="icon-question-sign"></i> icon and a tip will appear</p>
            <!-- Display form and feedback -->
           {{if form_has_errors:}}

                {{include "subviews/display_form_errors.html"}}

           {{pass}}

            {{=form}}
        </div>

    </div>

</div>