{{extend "bootup-layout.html"}}


 <div class="row below-nav hidden-phone" />
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="{{=URL('static','images/slide-01.jpg')}}" alt="">
                      <div class="container">
                        <div class="carousel-caption">
                          <h1>Example headline.</h1>
                          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                          <a class="btn btn-large btn-primary" href="#">Sign up today</a>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <img src="{{=URL('static','images/slide-02.jpg')}}" alt="">
                      <div class="container">
                        <div class="carousel-caption">
                          <h1>Another example headline.</h1>
                          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                          <a class="btn btn-large btn-primary" href="#">Learn more</a>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <img src="{{=URL('static','images/slide-03.jpg')}}" alt="">
                      <div class="container">
                        <div class="carousel-caption">
                          <h1>One more for good measure.</h1>
                          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                          <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
 </div>

<div class="row">
    <div class="span12">
        <h1>Project that are so close...</h1>
        <hr>
    </div>
</div>

<div class="row">

   {{ for i in xrange(3):}}
        {{project = closest_projects_to_being_funded[i]}}
        {{include 'subviews/presentSmallProject.html'}}
    {{pass}}

</div>

<div class="row">
     {{ for i in xrange(3,6):}}
        {{project = closest_projects_to_being_funded[i]}}
       {{include 'subviews/presentSmallProject.html'}}
    {{pass}}

</div>


<div class="row">
    <div class="span12">
        <h1>Hot off the press...</h1>
        <hr>
    </div>
</div>

<div class="row">

   {{ for i in xrange(3):}}
        {{project = newest_projects[i]}}
        {{include 'subviews/presentSmallProject.html'}}
    {{pass}}

</div>

<div class="row">
     {{ for i in xrange(3,6):}}
        {{project = newest_projects[i]}}
        {{include 'subviews/presentSmallProject.html'}}
    {{pass}}

</div>


















 <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
 </script>