{{extend "bootup-layout.html"}}

<div class="row pad-away-from-nav">
    <div class="span8 offset2">
        <div class="well">
            <div class="page-header">
                <h1>Registration</h1>
            </div>
            <h3> Step Two: Add Billing Information (2/2)</h3>
            <p> Hover over the <i class="icon-question-sign"></i> icon and a tip will appear</p>
            {{if form_has_errors:}}
                {{include "subviews/display_form_errors.html"}}
            {{pass}}
                {{=form}}
            <a href="{{=URL('default','register', vars=dict(coming_back_from_step_two = "True"))}}"> <button class="btn btn-danger"> <i class="icon-arrow-left icon-white"></i>  Go back to step 1</button></a>
            </div>


        </div>
    </div>
</div>