{{extend "bootup-layout.html"}}

<!-- Displays breadcrumbs depending on what page you are on -->

<div class="pad-breadcrumbs-away-from-nav">
    <ul class="breadcrumb ">
      {{if request.function=="profile":}}
          <li><a href="{{=URL('default','index.html')}} ">Home</a> <span class="divider">/</span></li>
          <li class="active">Profile</li>


      {{else:}}

          <li><a href="{{=URL('default','index')}} ">Home</a> <span class="divider">/</span></li>
          <li> <a href="{{=URL('profile','profile')}} ">Profile </a> <span class="divider">/</span> </li>

          {{if request.function=="change_password":}}
          <li class="active"> Change Password </li>

          {{elif request.function == "edit_information":}}
          <li class="active"> Edit Information </li>

          {{elif request.function == "edit_project":}}
          <li><a href="{{=URL('profile','projects')}} ">Bootables</a> <span class="divider">/</span></li>
          <li class="active"> Edit Bootable </li>

          {{elif request.function == "view_project":}}
          <li><a href="{{=URL('profile','projects')}} ">Bootables</a> <span class="divider">/</span></li>
          <li class="active"> View Bootable</li>

          {{elif request.function == "change_picture":}}
          <li><a href="{{=URL('profile','projects')}} ">Bootables</a> <span class="divider">/</span></li>
          <li class="active"> Change Picture </li>

          {{elif request.function == "rewards":}}
          <li><a href="{{=URL('profile','projects')}} ">Bootables</a> <span class="divider">/</span></li>
          <li class="active"> Rewards </li>

          {{elif request.function == "projects":}}
          <li class="active">Bootables</a> </li>

          {{elif request.function=="create": }}
               <li class="active">Create a Bootable</a> </li>

          {{elif request.function=="create_step2": }}
               <li class="active">Create a Bootable</a> </li>

          {{elif request.function=="create_step3": }}
                <li class="active">Create a Bootable</a> </li>

          {{elif request.function=="confirm_open_for_pledges": }}
                <li class="active">Confirm Open for Pledges</a> </li>

          {{elif request.function=="close_from_pledges": }}
                <li class="active">Close from Pledges</a> </li>

          {{else:}}
          <li class="active"> {{=request.function.title()}} </li>

          {{pass}}

      {{pass}}
    </ul>
</div>

<!-- Display the page header depending on where you are-->
{{if request.function=="profile":}}
    <div class="page-header">
        <h1>{{=(user.first_name + " " + user.last_name)}} <small> {{=number_of_pledges}} Pledges and {{=number_of_projects}}  Bootables</small></h1>
    </div>

{{else:}}

    {{if request.function=="create": }}
        <div class="page-header">
            <h1>{{=(user.first_name + " " + user.last_name)}} <small> Create a Bootable </small></h1>
        </div>

    {{elif request.function=="create_step2": }}
        <div class="page-header">
            <h1>{{=(user.first_name + " " + user.last_name)}} <small> Create a Bootable</small></h1>
        </div>

    {{elif request.function=="create_step3": }}
        <div class="page-header">
            <h1>{{=(user.first_name + " " + user.last_name)}} <small> Create a Bootable </small></h1>
        </div>



    {{elif request.function=="change_password": }}
         <div class="page-header">
            <h1>{{=(user.first_name + " " + user.last_name)}} <small> Change Password </small></h1>
        </div>

    {{elif request.function=="edit_information": }}
         <div class="page-header">
            <h1>{{=(user.first_name + " " + user.last_name)}} <small> Edit Information </small></h1>
        </div>

    {{elif request.function=="edit_project": }}
         <div class="page-header">
            <h1>{{=(user.first_name + " " + user.last_name)}} <small> Edit Bootable</small></h1>
        </div>

    {{elif request.function=="view_project": }}
         <div class="page-header">
            <h1>{{=(user.first_name + " " + user.last_name)}} <small> View Bootable </small></h1>
        </div>

    {{elif request.function=="change_picture": }}
         <div class="page-header">
            <h1>{{=(user.first_name + " " + user.last_name)}} <small> Change Picture </small></h1>
        </div>

    {{elif request.function=="rewards": }}
         <div class="page-header">
            <h1>{{=(user.first_name + " " + user.last_name)}} <small> Rewards </small></h1>
        </div>

    {{elif request.function=="projects": }}
         <div class="page-header">
            <h1>{{=(user.first_name + " " + user.last_name)}} <small> Bootable Manager Dashboard </small></h1>
        </div>

    {{elif request.function=="confirm_open_for_pledges": }}
        <div class="page-header">
            <h1>{{=(user.first_name + " " + user.last_name)}} <small> Confirm Open for Pledges </small></h1>
        </div>

    {{elif request.function=="close_from_pledges": }}
        <div class="page-header">
            <h1>{{=(user.first_name + " " + user.last_name)}} <small> Close from pledges </small></h1>
        </div>

    {{else:}}
        <div class="page-header">
            <h1>{{=(user.first_name + " " + user.last_name)}} <small> Your {{=request.function.title()}} </small></h1>
        </div>
    {{pass}}



{{pass}}

        {{include}}
        {{pass}}