<!DOCTYPE html>
<head>
	<title>BootUp</title>
	<meta charset='utf-8' />
    <link rel='stylesheet' type='text/css' href="{{=URL('static','css/bootupStyle.css')}} " media="screen" />
    <link rel='stylesheet' type='text/css' href="{{=URL('static','css/bootstrap.min.css')}} " media="screen" />
    <link rel='stylesheet' type='text/css' href="{{=URL('static','css/bootstrap-responsive.min.css')}} " media="screen" />
    <link rel='stylesheet' type='text/css' href="{{=URL('static','css/web2py_bootstrap.css')}} " media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>
    {{include 'web2py_ajax.html'}}
    <script type="text/javascript" src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/bootup.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/web2py.js')}}"></script>

</head>
<body>


    <div class="container main ">
        <div class="row">
            <div class="navbar navbar-fixed-top navbar-inverse">
                <div class="navbar-inner">
                    <div class="container">
                         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                         </a>
                        <a href="{{=URL('default','index')}}" class="brand"> <img height="30px" width= "85px" src="{{=URL('static','images/logo.png')}}" /> </a>

                        <div class="nav-collapse collapse">

                             <ul class="nav">
                                <li class="divider-vertical"></li>
                                <li> <a href="{{=URL('projects','explore_projects')}}"> Explore Projects </a> </li>
                                <li class="divider-vertical"></li>
                                <li>  <form action="{{=URL('projects','search')}}" class="navbar-search ">
                                        <input type="text" name="search" maxlength="50" class="span4 search-query" placeholder="Search">
                                      </form>

                                </li>


                            </ul>

                            <ul class="nav pull-right ">

                                {{if (auth.is_logged_in()):

                                }}
                                <li class="divider-vertical"></li>
                                <li> <a href="{{=URL('profile','create')}} "> Create Project</a></li>



                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                      Profile
                                      <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu nav-list">
                                        <li> <a href="{{=URL('profile','profile')}} "> Profile</a></li>
                                        <li> <a href="{{=URL('profile','projects')}} "> Your Projects</a></li>
                                        <li> <a href="{{=URL('profile','pledges')}} "> Your Pledges</a></li>
                                        <li> <a href="{{=URL('profile','information')}} "> Your Information</a></li>
                                        <hr>
                                        <li> <a href="{{=URL('default','user/logout')}} "> Logout</a></li>
                                    </ul>
                                </li>

                                {{else:  }}
                                <li class="divider-vertical"></li>
                                <li> <a href="{{=URL('default','login')}} "> Login</a></li>
                                <li class="divider-vertical"></li>
                                <li> <a href="{{=URL('default','register')}} "> Register</a></li>


                                {{pass}}

                            </ul>

                        </div>


                    </div>
                </div>
            </div>

        </div>

        <div class="after-nav">



        {{include}}
        {{pass}}

        </div>



    </div>
<!--
<div class="footer navbar navbar-fixed-bottom">
            <p>Copyright (c) 2008</p>
    </div>
-->





</body>

</html>