{{extend "bootup-profile-layout.html"}}


<div class="well">
     <div class="row">
         <div class="span12">
             <h1> New Project</h1>
         </div>
     </div>

     <div class="row">

        <div class="span11">
            {{=response.flash}}

            {{=form}}


            <table class="table table-striped">
                <tr>
                    <th class="span1"> #</th>
                    <th class="span2"> Pledge Amount</th>
                    <th class="span6">  Reward</th>
                    <th class="span2"> </th>
                </tr>
                {{ i = 0
                for level in pledge_levels:
                        i = i +1
                }}
                <tr>
                    <td> {{=i}} </td>
                    <td> £ {{=level[0]}}</td>
                    <td> {{=level[1]}} </td>
                    <td>


                    </td>

                </tr>
                {{pass}}
            </table>
            {{=go_to_step_3}}
        </div>
        {{pass}}
     </div>


</div>