{{extend "bootup-profile-layout.html"}}

<div class="row">
    <div class=" span11">
        <div class="well span11">
            <h3> Step One: Add Basic Information</h3>

            {{if form_has_errors:}}
            <div class="alert alert-error">

                    <h5> The following fields have an error: </h5>
                    <ul>
                    {{for error in response.flash:}}

                        <li> <a href="#{{=error}}">
                        {{error_field = error.replace('_', ' ').title()}} {{=error_field}} </a> : {{=response.flash[error]}} </li>
                    {{pass}}

                    </ul>
            </div>
            {{pass}}

            {{=form}}
        </div>

    </div>

</div>