{{extend "bootup-profile-layout.html"}}


<div class="well">
     <div class="row">
         <div class="span12">
         </div>
     </div>

     <div class="row">

        <div class="span11">
            <h3> Step Two: Add Some Pledges Rewards</h3>
            <!-- Display Add pledge level form -->
            {{=response.flash}}
            {{=form}}

            <!-- Display table containing list of pledge levels -->
            <table class="table table-striped">
                <tr>
                    <th class="span1"> #</th>
                    <th class="span2"> Pledge Amount</th>
                    <th class="span6">  Reward</th>
                    <th class="span2"> </th>
                </tr>
                {{ i = 0
                for level in pledge_levels:
                        i = i +1
                }}
                <tr>
                    <td> {{=i}} </td>
                    <td> £ {{=level[0]}}</td>
                    <td> {{=level[1]}} </td>
                    <td>


                    </td>

                </tr>
                {{pass}}
            </table>
            <hr>
            <!-- display buttons taking you to step 1 and step 3 -->
            {{=go_to_step_3}}
            <a href="{{=URL('profile','create', vars=dict(coming_back_from_step_two = "True"))}}"> <button class="btn btn-danger"> <i class="icon-arrow-left icon-white"></i>  Go back to step 1</button></a>
        </div>

        {{pass}}
     </div>


</div>