{{extend "bootup-profile-layout.html"}}
<div class="well">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Personal Information</a></li>
        <li><a href="#tab2" data-toggle="tab"> Home Address</a></li>
        <li><a href="#tab3" data-toggle="tab">Billing Details</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <p>Personal Information</p>
        </div>
        <div class="tab-pane" id="tab2">
          <p>Address</p>
        </div>
        <div class="tab-pane" id="tab3">
          <p>Billing Details</p>
        </div>
      </div>
    </div>
</div>