{{extend "bootup-profile-layout.html"}}



<ul class="nav nav-tabs nav-stacked">
    <li><a href="{{=URL('profile','projects', args=user.username)}} "> <h1>Bootable Manager Dashboard</h1></a> </li>
    <li><a href="{{=URL('profile','pledges', args=user.username)}} "><h1>Your Pledges </h1></a></li>
    <li><a href="{{=URL('profile','information', args=user.username)}} "><h1>Your Information </h1></a></li>
</ul>

<div class="hero-unit">
  <h1>Fancy Starting Something Special?</h1>
  <p>Start your own project to finally fulfil your dreams</p>
  <p>
    <a class="btn btn-primary btn-large" href="{{=URL('profile', 'create')}}">
      Create a Project
    </a>
  </p>
</div>






