{{extend "bootup-profile-layout.html"}}

<div class="well span12">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab"><h4>Open for Pledges </h4></a></li>
            <li><a href="#tab2" data-toggle="tab"> <h4> Not Available </h4> </a></li>
            <li><a href="#tab3" data-toggle="tab"><h4> Funded </h4></a></li>
            <li><a href="#tab4" data-toggle="tab"><h4> Not Funded </h4></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">

                {{if len(open_for_pledges_projects) == 0:}}
                <h1> You have no bootables open for pledges</h1>
                {{else:}}
                {{for project in open_for_pledges_projects:}}
                    <div class="row">
                        {{include "subviews/displayProjectInformation.html"}}
                        <div class="span3">
                            <a href="{{=URL('projects','project', args=project.id)}}"><button class="btn btn-inverse btn-block" type="button">View Bootable Page</button></a>
                            <br>
                            <a href="{{=URL('profile','close_from_pledges', args=project.id)}}"><button class="btn btn-danger" type="button">Close From Pledges</button></a>

                        </div>
                    </div>
                    <hr>
                {{pass}}
                {{pass}}



            </div>
            <div class="tab-pane" id="tab2">

                 {{if len(not_available_projects) == 0:}}
                <h1> You have no bootables that are unavailable</h1>
                {{else:}}

                {{for project in not_available_projects:}}
                    <div class="row">
                        {{include "subviews/displayProjectInformation.html"}}
                        <div class="span3">
                            <a href="{{=URL('profile','view_project', args=project.id)}}"><button class="btn btn-inverse btn-block" type="button">View/Edit</button> </a>
                            <br>
                            <a href="{{=URL('profile','confirm_open_for_pledges', args=project.id)}}"><button class="btn btn-info btn-block" type="button">Open bootable for pledges</button> </a>
                            <br>
                            <a href="{{=URL('profile','rewards', args=project.id)}}"><button class="btn btn-block btn-primary" type="button">View/Add Rewards</button></a>
                            <br>

                            {{=A(BUTTON('Delete',_class="btn btn-danger"), callback= URL('delete_project', vars= dict(project_id = project.id) ))}}

                        </div>
                    </div>
                    <hr>
                {{pass}}
                {{pass}}



            </div>
            <div class="tab-pane" id="tab3">

                 {{if len(funded_projects) == 0:}}
                <h1> You have no funded bootables</h1>
                {{else:}}

                {{for project in funded_projects:}}
                    <div class="row">
                       {{include "subviews/displayProjectInformation.html"}}
                        <div class="span3">
                            <button class="btn btn-inverse btn-block" type="button">View Bootable Page</button>

                        </div>
                    </div>
                    <hr>
                {{pass}}
                {{pass}}




            </div>
            <div class="tab-pane" id="tab4">

                 {{if len(not_funded_projects) == 0:}}
                <h1> You have no bootables that finished unfunded</h1>
                {{else:}}

                 {{for project in not_funded_projects:}}
                    <div class="row">
                        {{include "subviews/displayProjectInformation.html"}}
                        <div class="span3">
                            <button class="btn btn-inverse btn-block" type="button">View Bootable Page</button>
                             <br>
                            <a href="{{=URL('profile','confirm_open_for_pledges', args=project.id)}}"><button class="btn btn-block btn-info" type="button">Open bootable for Pledges</button></a>

                        </div>
                    </div>
                    <hr>
                {{pass}}
                {{pass}}


            </div>
        </div>
    </div>
</div>



