{{extend "bootup-profile-layout.html"}}


<div class="well">
     <div class="row">
         <div class="span12">
             <h1> {{=project.title}}</h1>
         </div>
     </div>

     <div class="row">



        <div class="span11">

            {{=response.flash}}
            {{=form}}

            <table class="table table-striped">
                <tr>
                    <th class="span1"> #</th>
                    <th class="span2"> Pledge Amount</th>
                    <th class="span6">  Reward</th>
                    <th class="span2"> </th>
                </tr>
                {{ i = 0
                for level in pledge_levels:
                        i = i +1
                }}
                <tr>
                    <td> {{=i}} </td>
                    <td> £ {{=level.pledge_amount}}</td>
                    <td> {{=level.reward}} </td>
                    <td>
                        {{if len(pledge_levels) > 1:}}
                        {{=A(BUTTON('Delete',_class="btn btn-block btn-danger"), callback= URL('delete_pledge', vars= dict(id = level.id, project_id = level.project_id) ))}}
                        {{else:}}
                        <h4> Not allowed to delete as project must have one pledge</h4>
                        {{pass}}
                    </td>

                </tr>
                {{pass}}
            </table>
        </div>
        {{pass}}
     </div>


</div>