{{extend 'congo-layout.html'}}
	<div id='intro'>
		<h1> Books</h1
	</div>
	<div id='productList'>
		<div class='product'>
	
			<h3> Batman: Arkham Asylum</h3>
			<p> <b> Details</b></p>
			<div class='details'>
				<ul>
					<li> <b> Writer:</b> Grant Morrison</li>
					<li> <b> Publisher</b> DC Comics</li>
					<li> <b> Format</b> Paperback</li>
					<li> <b> Pages:</b> 216</li>
					<li> <b> Price:</b> £9.00</li>
				</ul>
			</div>
			<div class='glance'>
				<p>
					<b>At a glance</b> <br/>
					Written	by	Grant	Morrison.	Art	and	cover	by	Dave	McKean	In	celebration	of	the	
					16th	anniversary	of	the	critically	acclaimed	Batman	story	that	helped	launch	the	
					U.S.	careers	of	Grant	Morrison	and	Dave	McKean,	DC	Comics	is	proud	to	present	
					a	softcover	edition of	the	Arkham	Asylum	Anniversary	Edition,	reprinting	the	
					now-classic	confrontation	between	the	Dark	Knight	and	his	archnemeses	the	
					Joker,	Two-Face,	Scarecrow,	Poison	Ivy,	and	more	in	the	black	heart	of	Gotham	
					City's	house	for	the	criminally	insane.
				</p>
			</div>
		</div>
		
		<div class='product'>
			<div class='details'>
				<h3> Superman: Earth One</h3>
				<p> <b> Details</b></p>
				<ul>
					<li> <b> Writer:</b> Mikey</li>
					<li> <b> Publisher</b> DC Comics</li>
					<li> <b> Format</b> Paperback</li>
					<li> <b> Pages:</b> 136</li>
					<li> <b> Price:</b> £7.00</li>
				</ul>
			</div>
			<div class='glance'>
				<p>
					<b>At a glance</b> <br/>
					J.	Michael	Straczynski,	the	creator	of	Babylon	5,	joins	forces	with	rising	star	artist	
					Shane	Davis	(Superman/Batman:	The	Search	for Kryptonite)	to	create	this	
					original	graphic	novel	that	gives	new	insight	into	Clark	Kent's	transformation	
					into	Superman	and	his	first	year	as	The	Man	of	Steel.	This	is	the	first	in	a	new	
					wave	of	original	DC	Universe	graphic	novels,	featuring	top	writers'	and	
					illustrators'	unique	takes	on	DC	characters.
				</p>
			</div>
		</div>
	</div>