{{extend 'layout.html'}}

<h1>This is the basket/basket.html template</h1>

<table id="basket">
  <thead>
  <tr>
    <th>ID</th>
    <th>Description</th> 
    <th>Qty.</th>
    <th>Updater</th>
  </tr>
  </thead>
  <tbody>
    {{for record in form.sqlrows:}}
    <tr>
     <td>{{=record.id}}</td>
     <td>{{=record.description}}</td>
     <td>{{=record.qty}}</td>
     <td>{{=LOAD(c='basket', f='updater.load', args=[record.id], ajax=True)}} </td> 
    </tr>  
    {{pass}}
  </tbody>
</table>

<hr />

{{=BEAUTIFY(response._vars)}}
