<!--Exam Number: Y0071297 -->
{{extend "bootup-layout.html"}}

<div class="pad-breadcrumbs-away-from-nav">
    <ul class="breadcrumb ">

        <li><a href="{{=URL('default','index.html')}} ">Home</a> <span class="divider">/</span></li>
        <li><a href="{{=URL('default','index.html')}} ">Projects</a> <span class="divider">/</span></li>
        <li><a href="{{=URL('projects','project', args=project.id)}} ">{{=project.title }}</a> <span class="divider">/</span></li>
        <li class="active"> Make Pledge </li>
    </ul>
</div>

<div class="row">

    <div class="span12" >
         <h1>{{=project.title}}</h1>
    </div>

</div>

<div class="row">

    <div class="span12" >
        <p class="greenText lead"> Amount: </p> <h4> £ {{=pledge_level.pledge_amount}}</h4>
        <p class="greenText lead"> Reward: </p> <h4> {{=pledge_level.reward}}</h4>
        <hr>

    </div>

</div>

<div class="row">

    <div class="span12" >

            {{if user_has_already_pledged:}}
            <p class="lead"> Are you sure you wish to make this pledge?</p>
            {{else:}}
            <p class="lead"> Are you sure you wish to change to this pledge?</p>
            {{pass}}
            {{=form}}
            <a href="{{=URL('projects','project', args=project.id)}}"><button class="btn btn-large btn-block btn-danger" type="button"> <i class="icon-arrow-left icon-white"></i> No, go back to project</button> </a>

    </div>

</div>


